<header>
    <nav id="nav-container">
        <a href="../public/index.html"><img src="../imagenes/LogoWeb.webp" alt="Logo RolGameGathering"></a>
        <div class="nav-links">
            <a href="../CRUD/verP.html" id="verP">Ver Personajes</a>
            <a href="../CRUD/crearP.html" id="crearP">Crear Personaje</a>
            <a href="../CRUD/modificarP.html" id="modificarP">Modificar Personaje</a>
            <a href="../CRUD/eliminarP.html" id="eliminarP">Eliminar Personaje</a>
        </div>
    </nav>
</header>
